.details {
  width: 100%;
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.details .details-content {
  text-align: center;
  margin: auto;
  padding: 1rem;
  max-width: 350px;
}

.details .details-content p {
  margin: 1.2rem 0;
}

.email-link {
  font-size: 2rem;
  
}

.email-link a {
color: var(--feature-color);
}