/* General style*/
:root {
    --font-family: 'Tilt Neon', sans-serif;
    --bold-font: 700;
    --bg-color: #222831;
    --primary-color: #f2f2f2 ;
    --secondary-color: #393e46;
    --feature-color: #f96d00;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar-menu {
    display:flex;    
}

.navbar-menu li{
    padding: 0 1rem;
 
}
.navbar-menu li a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--feature-color);
}

