@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

/* General style*/
:root{
  --font-family: 'Tilt Neon', sans-serif;
  --bold-font: 700;
  --bg-color: #222831;
  --primary-color: white;
  --secondary-color: grey;
  --feature-color: #ff6200;
}


*{
  box-sizing: border-box;
  margin: 0;
  margin: 0;
  font-family: var(--font-family);
}

body {
  background-color: var(--bg-color);
}

h1 {
  color: var(--primary-color);
}

h2, p {
  color: var(--primary-color);
}

h1,
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 10px 30px;
  font-size: 1rem;
  text-transform: uppercase;
  background: var(--primary-color);
  color: var(--bg-color);
  border: 1px solid var(--secondary-color);
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: var(--primary-color);
  transition: 0.3s;
}